body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans';
  background-color: rgb(86, 110, 58);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

li {
  text-decoration: none !important;
  list-style-type: none !important;
}

.container {
  margin: 0;
  padding: 5px 40px;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
